# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Flask & Environment
.env
instance/
*.db
*.sqlite3

# Test & IDE
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/

# User Uploads (preserve .gitkeep)
app/static/uploads/profile_pics/*
!app/static/uploads/profile_pics/.gitkeep
